body {
  margin: 0;
  color: white;
  padding: 30px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-image: url('../images/survey-form-background.jpeg');
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  background-color: #7474bc;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  top: 0;
}
p {
  font-style: italic;
}
.form {
  width: 50%;
  margin: auto;
  padding: 50px;
  color: white;
  text-align: left;
  background-color: #2b2b49;
  border-radius: 5px;
}
label {
  font-size: 20px;
}
.input,
select,
textarea,
button {
  width: 97%;
  height: 40px;
  margin: 10px 0 30px 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
  border: none;
}
input {
  margin: 10px 5px;
  height: 20px;
  width: 20px;
}
textarea {
  height: 100px;
  border-radius: 0;
  margin-top: 15px;
}
button {
  color: white;
  background-color: #37af65;
  border-radius: 0;
}

.first_ch_b,
.first_r {
  margin-top: 15px;
}
.last_ch_b,
.last_r {
  margin-bottom: 30px;
}
@media (max-width: 460px) {
  .form {
    width: 60%;
  }
}
